body {
    background: #fff
}

#branding {
    /* display: inline; */
    /* background-color: #8c8; */
    background-color: #000;
    background-image: url("images/cash.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 65% 16%;
    font-family: 'Segoe UI';
    /* padding: 8px 8px; */
    width: 100vw;
    height: 100px;
    vertical-align: middle;
    color: #082008;
    text-shadow: 4px 4px 4px #fff;
    padding: 1% 0%;
    /* text-align: center; */
}
#branding h1 {
    display: inline;
    padding: 0% 0%;
    margin: 18px;
    vertical-align: center;
    text-align: center;
    letter-spacing: 2px;
}
.acct-summary {
    display: block;
    background-image: linear-gradient(to bottom right, #38d, #fff);
    margin: 0px;
    padding: 8px 8px;
    border-radius: 6px;
    width: 100%;
}

.acct-title {
	font-size: 24pt;
	color: #004;
    margin: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
}

.acct-bal {
	font-size: 24pt;
	color: #030;
    margin: 10px;
    font-weight: bolder;
    padding: 0px 0px 0px 10px;
}

.acct-detail-tbl td{
    /* border-collapse: collapse; */
	font-size: 11pt;
	color: #00a;
    border-spacing: 1;
    padding-top: 2px;
    padding-right: 2px;
}
.acct-detail-tbl th {
    text-align: left;
    vertical-align: bottom;
    padding-right: 4px;
    border-bottom: 1px solid #ddd;
    height: 30px;
	font-size: 13pt;
	font-weight: bold;
    color: #00f;
    /* font-family: 'Segoe UI'; */
}

.acct-detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
    font-family: 'Open Sans';
}

.button-round a {
    display: inline-block;
    font-size: 16pt;
    font-family: 'Segoe UI';
    text-align: center;
    vertical-align: center;
    border-radius: 8px;
    padding: 6px 6px;
    margin: 14px;
    background-color: #ccc;
    text-decoration: none;
}

.index-tbl tr td{
    text-align: left;
    vertical-align: bottom;
    padding: 5px 20px;
	font-size: 14pt;
	font-weight: bold;
    font-family: 'Segoe UI';
}

td.cat-sqr {
    /* display: inline-block; */
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
    letter-spacing: 0px;
    /* float: left; */
}

.cat-sqr div {
    /* font-size: 8; */
    /* display: inline-block; */
    float: left;
    letter-spacing: 0px;
    width: 16px;
    height: 15px;
    padding: 1px;
    margin: .5px;
    border: 1px solid black;
}

.tooltip {
    position: relative;
} 

.tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    margin-left: -60%; 
    bottom: 110%;
    left: 50%; 
    background-color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
#header {
    border-bottom: 1px solid black;
}
.breadcrumbs {
    /* text-align: left;
    vertical-align: bottom; */
    padding: 12px 2px;
	font-size: 14pt;
	font-weight: bold;
    font-family: 'Segoe UI';
    background-color: #dfd;
}

.cat-sum-flex {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #adf; */
    background-color: #fff;
    font-family: 'Open Sans';
}
  
.cat-sum-flex span {
    /* background-color: #f1f1f1; */
    width: 200px;
    margin: 4px;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
}


.cat-sqr2 {
    /* font-size: 8; */
    /* display: inline-block; */
    float: left;
    letter-spacing: 0px;
    width: 16px;
    height: 15px;
    padding: 1px;
    margin: .5px 2px;
    border: 1px solid black;
}
