body {
    background: #fff
}

#branding {
    /* display: inline; */
    /* background-color: #8c8; */
    background-color: #000;
    background-image: url("images/cash.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 24% 16%;
    font-family: 'Segoe UI';
    /* padding: 8px 8px; */
    width: 100vw;
    height: 100px;
    vertical-align: middle;
    color: #082008;
    text-shadow: 2px 2px 3px white;
    padding: 1% 0%;
    /* text-align: center; */
}
#branding h1 {
    display: inline;
    padding: 0% 0%;
    margin: 18px;
    vertical-align: center;
    text-align: center;
    letter-spacing: 2px;
}

.acct-title {
	font-size: 24;
	color: #004;
    margin: 20px;
    font-weight: bolder;
}

.acct-bal {
	font-size: 24;
	color: #6b6;
    margin: 10px;
    font-weight: bolder;
    padding: 0px 0px 0px 10px;
}

.detail-tbl td{
    border-collapse: collapse;
	font: 12px;
	color: #00a;
    border-spacing: 0;
    padding-top: 2px;
    padding-right: 2px;
}
.detail-tbl th {
    text-align: left;
    vertical-align: bottom;
    padding-right: 4px;
    border-bottom: 1px solid #ddd;
    height: 30px;
	font-size: 14px;
	font-weight: bold;
    color: #00f;
    font-family: 'Segoe UI';
}

.button-round a {
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI';
    text-align: center;
    vertical-align: center;
    border-radius: 8px;
    padding: 6px 6px;
    margin: 14px;
    background-color: #ccc;
    text-decoration: none;
}

.index-tbl tr td{
    text-align: left;
    vertical-align: bottom;
    padding: 5px 20px;
	font: 14px;
	font-weight: bold;
    font-family: 'Segoe UI';
}

td.cat-sqr {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0px;
}

.cat-sqr span {
    /* font-size: 8; */
    display: inline-block;
    letter-spacing: 0px;
    width: 20px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}