{% extends "finance/fbase.html" %}

{% block title %}Login{% endblock %}


{% block contenttitle %}<h1>Login</h1>{% endblock contenttitle %}

{% block content %}
    <div>
		{{ form.non_field_errors }}
		
		<form method="POST" action=".">
			{% csrf_token %}
			<div>
				<label for="id_username">Username:</label>
				{{ form.username }}
			</div>
			<div>
				<label for="id_password">Password:</label>
				{{ form.password }}
			</div>
			{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
			{% else %}
				<input type="hidden" name="next" value="{% url 'finance' %}" />
			{% endif %}
			
			<input type="submit" value="Login" />
		</form>
	</div>
{% endblock %}