{% extends 'finance/fbase.html' %}

{% block headstyle %}
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" rel=”stylesheet” type=”text/css”>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css" rel=”stylesheet” type=”text/css”>
{% endblock %}

{% block headscript %}
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
    {{ bokehScript | safe }}
{% endblock %}

{% block title %}My Accounts{% endblock %}>

{% block content %}
{% if account_list %}
    {{ bokehPlot | safe }}

    <table class="index-tbl">
        {% for account in account_list %}
            <tr>
                <td><a href="{% url 'finance:account_detail' account.id %}">{{account.title}}</a></td>
                <td>{{account.acct_type}}</td>
                <td>{{account.acct_balance}}</td>
            </tr>    
        {% endfor %}
    </table>
    <div class="button-round"><a href="{% url 'finance:create_account' %}">Create new account</a></div>
{% else %}
    <h2>You have no accounts</h2>
    <a class="button-round" href="{% url 'finance:create_account' %}">Create one</a>
{% endif %}
{% endblock %}