{% extends 'finance/fbase.html' %}
{% load static %}

{% block title %}Transactions{% endblock %}>

{% block content %}
	<div class="acct-summary" style="display: block;">
	    <span class="acct-title">{{account.title}} - {{account.acct_type}}</span>
	    <span class="acct-bal">${{account.acct_balance}}</span>
	    <span>(as of {{account.latest_date}})</span>
	</div>
	
	<table>
	{% for cat in userCats %}
		<span>
			<th>{{cat.title}}</th>
			<td class="cat-sqr"><div style="background-color:{{cat.color}}"></div></td>
		</span>
	{% endfor %}
	</table>
	
	<div class="detail-tbl-container">
	    <table class="detail-tbl">
	        <tr>
                <th>Category</th>
	            <th>Type</th>
	            <th>Date</th>
	            <th>Description</th>
	            <th style="text-align:right;">Amount</th>
	            <th style="text-align:right;">Balance</th>
	        </tr>
            {% for tx in account.transaction_set.all %}
	            <tr id={{tx.id}}>
                    <td class="cat-sqr">
                        <div class="new-cat-select"></div>
                        {% for cat in tx.get_categories %}
                            <div class="tooltip" id="{{tx.id}}-{{cat.id}}" style="background-color:{{cat.color}}"><span class="tooltiptext" style="color:{{cat.color}}">{{cat.title}}</span></div>
                        {% endfor %}

                    </td>
	                <td>{{tx.tx_type}}</td>
	                <td>{{tx.tx_date|date:'M-d'}}</td>
	                <td>{{tx.short_desc}}</td>
	                <td style="text-align:right; background-color: {%if tx.is_positive %}#efe{%else%}#fee{% endif %}">{{tx.amount|floatformat:2}}</td>
	                <td style="text-align:right; background-color: {%if tx.is_positive %}#efe{%else%}#fee{% endif %}">{{tx.balance|floatformat:2}}</td>
	            </tr>
	        {% endfor %}
	    </table>
	</div>
{% endblock content %}

{% block bodyscript %}
    <script type="text/javascript">var d = "{{data}}";</script>
    <script src="{% static 'finance/test.js' %}"></script>
{% endblock bodyscript %}
