{% extends 'finance/base.html' %}

{% block title %}My Accounts{% endblock title %}>


{% block content %}
	<div style="display: block;">
	    <span class="acct-title">{{account.title}} - {{account.acct_type}}</span>
	    <span class="acct-bal">${{account.acct_balance}}</span>
	    <span>(as of {{account.latest_date}})</span>
	</div>
	
	
	<div class="detail-tbl-container">
	    <table class="detail-tbl">
	        <tr>
	            <th>Type</th>
	            <th>Date</th>
	            <th>Description</th>
	            <th align="right">Amount</th>
	            <th align="right">Balance</th>
	        </tr>
	        {% for tx in account.transaction_set.all %}
	            <tr>
	                <td>{{tx.tx_type}}</td>
	                <td>{{tx.tx_date|date:'M-d'}}</td>
	                <td>{{tx.description}}</td>
	                <td align="right">{{tx.amount|floatformat:2}}</td>
	                <td align="right">{{tx.balance|floatformat:2}}</td>
	            </tr>
	        {% endfor %}
	    </table>
	</div>
{% endblock content %}