{% load static %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Finance{% endblock %}</title>
	{% block blockbots %}
		<meta name="robots" content="NONE,NOARCHIVE" />
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'finance/style.css' %}" />
	<link rel="shortcut icon" href="{% static 'finance/images/chasefavicon.ico' %}">
	{% block extrastyle %}{% endblock %}
	{% block extrahead %}{% endblock %}
</head>

<body>
	<div id="container">
		<div id="header">
			<div id="branding">
				{% block branding %}<img src="{% static 'finance/images/cash.jpg' %}" height="62" width="100" alt="Finance" id="headerlogo" title="finance"><h1>Finance</h1>{% endblock %}
			</div>
			{% if user.is_authenticated %}
				<span id="user-tools">Welcome, <strong>{% firstof user.first_name user.username %}</strong>
					{% block userlinks %}
						<div style="float:right;padding-right:10px">
							<a href="/accounts/password_change/">Change password</a>
							<a href="/accounts/logout/">Log out</a>
						</div>
					{% endblock %}
				</span>
			{% endif %}
			{% block nav-global %}
				<div style="float:right;padding-right:10px"></div>
			{% endblock %}
		</div>
		
		{% block breadcrumbs %}
			<div class="breadcrumbs">
				<a href="/finance">Home</a>
				&rsaquo; {{ title|default:"" }}
			</div>
		{% endblock %}
		
		{% block messages %}
			{% if messages %}
				<ul class="messagelist">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endblock messages %}
		
		<div id="content-stuff" class="{% block coltype %}colM{% endblock %}">
			{% block pretitle %}{% endblock %}
			{% block contentttitle %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
			{% block content %}
			{% block object-tools %}{% endblock %}
			<!-- ((content)) -->
			{% endblock %}
			{% block sidebar %}{% endblock %}
			<br class="clear" />
		</div>
		
		
		{% block footer %}<div id="footer"></div>{% endblock %}
	</div>
</body>
</html>