{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Accounts</title>
    <link rel="stylesheet" type="text/css" href="{% static 'finance/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'finance/images/chasefavicon.ico' %}">
</head>

<body>
    <div class="acct-title">Hello {% if current_user.first_name %}{{current_user.first_name}}{% else %}{{current_user.username}}{% endif %}</div>
    <p><a href="{% url 'logout' %}">logout</a></p>

    {% if account_list %}
        <table class="index-tbl">
            {% for account in account_list %}
                <tr>
                    <td><a href="{% url 'finance:account' account.id %}">{{account.title}}</a></td>
                    <td>{{account.acct_type}}</td>
                    <td>{{account.acct_balance}}</td>
                </tr>    
            {% endfor %}
        </table>
        <div class="button-round"><a href="{% url 'finance:create' %}">Create new account</a></div>
    {% else %}
        <h2>You have no accounts</h2>
        <a class="button-round" href="{% url 'finance:create' %}">Create one</a>
    {% endif %}
</body>